*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.card__nav{
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 400;
}

.bax2__card{
  font-family: Roboto;
  font-style: Regular;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #000000;
}

.box2__card > button{
  font-family: Roboto;
  font-weight: 400px;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: aliceblue;
  background-color: #E9672B;
  border: none;
  border-radius: 50px;
  padding: 10px;
}

.box2__img{
  display: flex;
  flex-direction: row;
}

