/* box modeli
border,
border-radius,
padding,
margi,
background,
*/

/* 


 h1{

width: 400px;
height: 400px;
border-bottom:1px solid red ;
border-top:5px solid rgb(4, 65, 54) ;
border-left:2px dashed blue ;
border-width:1px;
border-style:solid;
border-color:teal;
 border-right:1px solid red;
border-radius:10px 15px 32px 7px ;
border-top-left-radius:20px;
border-top-right-radius:20px;   */





div{
    border: 1px solid red;
}

.DIV1{
   width: 900px;
height: 650px;
margin: 15px;
}
.miniDIV1{
    width: 600px;
    height:300px ;
    margin-top: 7px ;
    margin-left: 750px;
    margin-bottom: 7px;
}

.miniDIV2{
    width: 400px;
    height: 270px;
    margin-top: 7px ;
    margin-bottom: 7px;
    margin-left: 170px;
}

