body{
    gap: 8px;
    display: flex;
    font-family: Arial;
    background-color: #f5f5f5;
    padding: 20px;
}



.cards{
    display: flex;
    gap: 18px;
    overflow: auto;
}


.card{
    background: white; 
   border-radius: 8px;
padding: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.img-box{
    width: 100px;
    height: 100px;
    background: #eee;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.img-box img {
    max-width: 100px;
    max-height: 100px;
}


.price{
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 2px;
}


.ship{
    color: #10b981;
    font-size: 15px;
    font-weight: bold;
}




