* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
mavzu: Transform;
rotate, scale, 


*/

.Box {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  transform: rotate(45deg);
  background-color: green;
  position: absolute;
  left: 50px;
  top: 40px;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  transform: rotate(360deg);
  background-color: black;
  animation-name: box;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  left: 50px;
  top: 40px;
  z-index: -1;
}

@keyframes box {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(760deg);
  }
}

.boox:hover {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  transform: rotate(360deg);
  background-color: rgb(214, 27, 27);
  animation-name: box;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 40px;
  left: 50px;
  z-index: -1;
}
