/* 
CSS Kirish
 */


 /*
 h1{
 color:red;
} 
  */


  /*
  CSS sintaksisi. 
   */


/*
Selectot{
property:xossa;  
*/

/* #S7{
    color: maroon;
    background-color: lightgrey;
    font-size: 55px;
}


.ves{
    color: lavender;
    background-color: dimgrey;
    font-size: 55px;
}


.ves2{
    color: ivory;
    background-color: darkslategrey;
    font-size: 65px;
} */


.title , p , h5 , h6{
    background-color: blue;
} 







