*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.box{
  width: 300px;
  height: 300px;
  border: 1px solid red;
   overflow: auto;
}
/* .box:active{
    display: none;
}

p {
    width: 600px;
} */

/* .box:hover{
    width: 500px;
    height:50px ;
    background-color: blue;
    cursor: pointer;
    border-radius: 100px;
    transition: all 2s;
}


.box:active{
    width: 69px;
    height: 69px;
    background-color: brown;
    border-radius: 7px;
    transition: all 2s;
} 

a:{
    
} */





