*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Position , Realitive , Absolute , Fixed , sticky , Z-index  */

/* 
.RED{
    border: 2px solid red;
    width: 200px;
    height: 280px;
    margin-left: 10px;
}

.Yellow{
    border: 2px solid yellow;
    width: 200px;
    height: 280px;
    margin-left: 135px;
}


.green{
    border: 2px solid green;
    width: 200px;
    height: 280px;
  margin-left: 149px;
} */

/* 
.card{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 0);
    position: relative;
    left: 500px;
  z-index: -2;
}



.card2{
    width: 300px;
    height: 300px;
    background-color: rgb(15, 0, 224);
    position: relative;
    bottom: 100px;
    left:300px;
}



.card3{
    width: 300px;
    height: 300px;
    background-color: rgb(15, 216, 234);
    position: relative;
    bottom: 500px;
    left: 400px;
    z-index: -1;
} */



/* .bola{
    border: 1px solid yellow;
    width: 70px;
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 100px;   
} */




.card{
   text-align: justify; 
}

#TG{ 
    border: 3px solid rgba(255, 0, 0, 0.881);
    background-color: rgba(0, 0, 0, 0.195);
    width: 80px;
    height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 200px;
}

i{
    font-size: 30px;
}




