/* 
  14-Dars-Mavzulari,
      Animatision in CSS 
      1.Ketframes
      2.Animation Properties..
      3.Animation Examples..
      4.Proctical Uses..
*/

/* .box{
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: boox;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-direction: normal;
  animation-direction:reverse;
  animation-direction: alternate;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}


.box:hover{
animation-play-state: paused;

 }

.box-1:hover{
  animation-play-state: paused;
}
 .box-2:hover{
  animation-play-state: paused;
}

.box-3:hover{
  animation-play-state: paused;
}
 .box-1{ 
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: boox;
  animation-iteration-count:infinite;
  animation-duration: 1s;
  animation-delay: 3s;
}


.box-2{
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: boox;
  animation-iteration-count:infinite;
  animation-duration: 1s;
  animation-delay: 4s;
}

.box-3{
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: boox;
  animation-iteration-count:infinite;
  animation-duration: 1s;
  animation-delay: 5s;
}  */



body{
  background-image: url(./img/alp.webp);
  background-size: cover;
  background-repeat: no-repeat;
}


.card{
  height: 100vh;
 animation-name: samalyot;
 animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;

}






@keyframes samalyot {
  0%{
    margin-left: 0px;
  }


30%{
  margin-bottom: 400px;
}


  100%{
    margin-left: 1100px;
  }
}