
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* 
.BOXE{
    width: 1000px;
    height: 600px;
background-image: url(./img/19.\ Самолеты.jpg);
background-repeat: no-repeat;
background-size: cover;
} */



