
/* 
Gratient,
Filter,
Outline,
*/





/* 
.box {
    width: 100%;
    height: 200px;
    background: linear-gradient(rgb(0, 170, 255), white);
} */



.box2 {
    width: 200px;
    border-radius:100px;
    height: 200px;
    background: -gradient(rgb(180, 16, 16), rgb(0, 170, 255));
} 




/* 
img{
    width: 300px;
    filter: blur(4px)
} */



input{
    background-color: blue;
    border: none;
    outline-width:2px;
    outline-color: darkseagreen;
    outline: none;
    outline-offset: 5px;
}





